#include? "Project.local.xcconfig"

ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon
ASSETCATALOG_COMPILER_GLOBAL_ACCENT_COLOR_NAME = AccentColor
CODE_SIGN_ENTITLEMENTS = ClaudeIsland/Resources/ClaudeIsland.entitlements
CODE_SIGN_STYLE = Automatic
COMBINE_HIDPI_IMAGES = YES
CURRENT_PROJECT_VERSION = 3
ENABLE_APP_SANDBOX = NO
ENABLE_HARDENED_RUNTIME = YES
ENABLE_PREVIEWS = YES
ENABLE_USER_SELECTED_FILES = readonly
GENERATE_INFOPLIST_FILE = YES
INFOPLIST_FILE = ClaudeIsland/Info.plist
INFOPLIST_KEY_LSUIElement = YES
INFOPLIST_KEY_NSHumanReadableCopyright =
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/../Frameworks
MARKETING_VERSION = 1.2
PRODUCT_BUNDLE_IDENTIFIER = com.celestial.ClaudeIsland
PRODUCT_NAME = Claude Island
REGISTER_APP_GROUPS = YES
STRING_CATALOG_GENERATE_SYMBOLS = YES
SWIFT_APPROACHABLE_CONCURRENCY = YES
SWIFT_DEFAULT_ACTOR_ISOLATION = MainActor
SWIFT_EMIT_LOC_STRINGS = YES
SWIFT_UPCOMING_FEATURE_MEMBER_IMPORT_VISIBILITY = YES
SWIFT_VERSION = 5.0
